@import 'tailwindcss';

@theme {
    --font-system-ui: system-ui;

    --color-primary: var(--primary);
    --color-onPrimary: var(--onPrimary);
    --color-primaryContainer: var(--primaryContainer);
    --color-onPrimaryContainer: var(--onPrimaryContainer);
    --color-inversePrimary: var(--inversePrimary);
    --color-secondary: var(--secondary);
    --color-onSecondary: var(--onSecondary);
    --color-secondaryContainer: var(--secondaryContainer);
    --color-onSecondaryContainer: var(--onSecondaryContainer);
    --color-tertiary: var(--tertiary);
    --color-onTertiary: var(--onTertiary);
    --color-tertiaryContainer: var(--tertiaryContainer);
    --color-onTertiaryContainer: var(--onTertiaryContainer);
    --color-background: var(--background);
    --color-onBackground: var(--onBackground);
    --color-surface: var(--surface);
    --color-onSurface: var(--onSurface);
    --color-surfaceVariant: var(--surfaceVariant);
    --color-onSurfaceVariant: var(--onSurfaceVariant);
    --color-inverseSurface: var(--inverseSurface);
    --color-inverseOnSurface: var(--inverseOnSurface);
    --color-outline: var(--outline);
}

:root {
    --primary: #bb86fc;
    --onPrimary: #000000;
    --primaryContainer: #3700b3;
    --onPrimaryContainer: #ffffff;
    --inversePrimary: #6200ee;
    --secondary: #03dac6;
    --onSecondary: #000000;
    --secondaryContainer: #00574b;
    --onSecondaryContainer: #ffffff;
    --tertiary: #03a9f4;
    --onTertiary: #000000;
    --tertiaryContainer: #014d73;
    --onTertiaryContainer: #ffffff;
    --background: #121212;
    --onBackground: #e0e0e0;
    --surface: #1e1e1e;
    --onSurface: #e0e0e0;
    --surfaceVariant: #2c2c2c;
    --onSurfaceVariant: #e0e0e0;
    --inverseSurface: #ffffff;
    --inverseOnSurface: #000000;
    --outline: #a0a0a0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    background-color: var(--background);
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-system-ui);
}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--onPrimary);
    border-radius: 9999px;
    cursor: pointer;
}

input[type='range']::-moz-range-thumb {
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--onPrimary);
    border-radius: 9999px;
    cursor: pointer;
}
